.map {
    border: medium solid #999;
    fill: rgb(229, 224, 224);
    stroke: #999;
    stroke-width: 1px;
}

.countries {
    fill: #ccc;
    stroke: #CCC;
    stroke-width: 2px;
}

.gratLines {
    fill: none;
    stroke: #ebe9e9;
    stroke-width: 0.4px;
}

.gratBackground {
    fill: #6d7d99;
}

.countries {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.numbers {
    fill: white;
    font-family: sans-serif;
}

.chart {
    float: right;
    margin: 10px 20px 1 0;
}

.chartTitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    fill: rgb(245, 242, 242);
    font-weight: lighter;
}

.chartBackground {
    fill: #8491a39f;
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
    fill: #0b0b0b;
}

.title {
    color: #f7f4f4;
    font-size: 5ch;
    position: relative;
    text-align: center;
    left: 10px;
    font-weight: 500;
    stroke-width: 5cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}




.dropdown {
    position: center;
    top: 40px;
    left: 40px;
    z-index: 10;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #e2caca;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}


.infolabel {
    position: absolute;
    height: 50px;
    min-width: 1px;
    color: #fff;
    background-color: #04214b;
    border: solid thin #04214b;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}


body {
    background-color: rgba(169, 184, 205, 0.988);
}

.text{
color: #242424; 
font-family:'Times New Roman', Times, serif;
font-size: medium;
}